<footer class="footer">
    <div class="container-fluidtext-center text-lg-start">
        <div class="container d-flex justify-content-center py-5 gap-3">
            <a href="https://github.com/laffchem" target="_blank" rel="noopener"
            ><i class="fa-brands fa-github icons"></i
            ></a>

            <a href="https://twitter.com/laffchem" target="_blank" rel="noopener"
            ><i class="fa-brands fa-twitter icons"></i
            ></a>
            <a
                    href="https://www.linkedin.com/in/john-laffey/"
                    target="_blank"
                    rel="noopener"
            ><i class="fa-brands fa-linkedin-in icons"></i
            ></a>
        </div>
        <div class="email-box text-center mb-5">
            <a
                    class="email"
                    href="mailto:laffeychem@gmail.com"
                    target="_blank"
                    rel="noopener"
            >Contact Me</a
            >
        </div>
        <!-- Copyright -->
        <div class="text-center px-3 pt-1 pb-3">
            <h3 class="copyright">© Copyright {% now "Y" %}</h3>
        </div>
    </div>
</footer>